@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-up {
  0% { opacity: 0; transform: translateY(25px); }
  100% { opacity: 1; transform: translateY(0); }
}
.animate-fade-up {
  animation: fade-up 1.2s ease forwards;
}

@keyframes slide-images {
  0% { transform: translateX(0); }
  33% { transform: translateX(-100%); }
  66% { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}
.animate-slide-images {
  animation: slide-images 18s infinite linear;
}
